<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Block Blast</title>
</head>
<body>
    <div class="container">
        <div>
          <div class="grid-container" id="grid"></div>
          <script>
            const gridContainer = document.getElementById("grid");
            for (let i = 0; i < 8; i++) {
              for(let j = 0; j < 8; j++ ){
                let cell = document.createElement("div");
                cell.classList.add("grid-item");
                cell.setAttribute("id", `cell-${i}-${j}`);
                gridContainer.appendChild(cell);
            }
          }
        </script>
          <div class="block-container">
            <div class="block" draggable="true" id="block-1">
              <div class="block-cell" id="block-1-cell-0"></div>
              <div class="block-cell" id="block-1-cell-1"></div>
              <div class="block-cell" id="block-1-cell-2"></div>
              <div class="block-cell" id="block-1-cell-3"></div>
            </div>
    
            <div class="block" draggable="true" id="block-2">
              <div class="block-cell" id="block-2-cell-0"></div>
              <div class="block-cell" id="block-2-cell-1"></div>
              <div class="block-cell" id="block-2-cell-2"></div>
            </div>
    
            <div class="block" draggable="true" id="block-3">
              <div class="block-cell" id="block-3-cell-0"></div>
              <div class="block-cell" id="block-3-cell-1"></div>
              <div class="block-cell" id="block-3-cell-2"></div>
            </div>
          </div>
        </div>
    
        <div class="button-container">
          <div class="square"></div>
            <div class="button-row">
                <button>Next Step →</button>
                <button>Clear Board →</button>
            </div>
            <div class="slider-container">
                <input title="speed" type="range" min="0" max="10" value="1" class="slider" id="myRange">
                <button id="solve">Solve</button>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
